{% extends "journal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
  {% load static %}
  <script src="{% static 'journal/spiro.js' %}"></script>
  <title>Site</title>
</head>
<body>
    <div id="pad" class="pad" style="width:98.5%;height:694px;background:white">
        <canvas id="canvasCircles" height="894" width="764" style="left:136px;top:-92px;position:absolute;z-index:10">
        </canvas>
        <canvas id="canvasPen" height="894" width="764" style="left:136px;top:-92px;position:absolute;z-index:20">

        </canvas>
    </div>
    <script>spiro.load("{{colors}}", "pad")</script>
</body>
{% endblock content %}