absl-py==0.7.0
astor==0.7.1
cycler==0.10.0
Cython==0.29.5
Django==2.1.7
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.1
mido==1.2.8
mock==2.0.0
mysql-connector-python==8.0.15
mysqlclient==1.4.2.post1
nms==0.1.6
numpy==1.16.0
opencv-python==4.0.0.21
pbr==5.1.2
protobuf==3.6.1
pyparsing==2.2.2
python-dateutil==2.7.4
pytz==2018.9
scipy==1.1.0
six==1.11.0
tensorboard==1.12.2
tensorflow==1.13.0rc1
tensorflow-estimator==1.13.0rc0
termcolor==1.1.0
vaderSentiment==3.2.1
Werkzeug==0.14.1
